.home-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    ;
}

.blue {
    color: #1a73e8;
    font-weight: bold;
}

.pokemon-list {
    width: 100%;
    height: auto;
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .p {
        font-size: 16px;
    }

    .pokemon-list {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .p {
        font-size: 14px;
        margin-top: 10px;
    }

    .pokemon-list {
        flex-direction: column;
        align-items: center;
    }
}