.pokedex-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pokedex-page .header {
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.pokedex-page h1 {
  font-weight: 500;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.left-text {
  display: flex;
  flex-direction: column;
}

.clear {
  width: 130px;
  border: none;
  padding: 10px;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #e32f2f;
  font-family: 'Poppins', sans-serif;
}

.trash-icon {
  margin-left: 7px;
}

.pokedex-content {
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}